.header {
  width: 100%;
  height: 70px;
  background-color: #282c37;
}

.header .container {
  width: 1024px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header .container a img {
  height: 70px;
}

.header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container ul li {
  width: 120px;
  text-align: center;
  line-height: 70px;
}

.header .container ul li a {
  font-size: 16px;
  color: #d9e1e8;
  text-decoration: none;
}

#main-visual {
  width: 100%;
  height: 650px;
  text-align: center;
  color: white;
  background-image: url("img/lord.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

#main-visual .main-visual-title {
  padding-top: 200px;
  font-size: 64px;
}

#main-visual .main-visual-body {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.5em;
}

#portfolio .container {
  width: 920px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 80px;
}

#portfolio .container .main {
  margin-bottom: 30px;
}

#portfolio .container .main .portfolio-title {
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

#portfolio .container .main .portfolio-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

#portfolio .container .main .portfolio-body {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5em;
}

#portfolio .container .secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#portfolio .container .secondary img {
  width: 300px;
  margin-bottom: 10px;
}

#feature {
  background-color: #9baec8;
}

#feature .container {
  width: 980px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 80px;
}

#feature .container .main {
  margin-bottom: 30px;
}

#feature .container .main .future-title {
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

#feature .container .main .future-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

#feature .container .main .future-body {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5em;
}

#feature .container .secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 980px;
  height: auto;
}

#feature .container .secondary .text {
  width: 320px;
  height: auto;
  margin-top: 30px;
}

#feature .container .secondary .text i {
  font-size: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

#feature .container .secondary .text .text-title {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

#feature .container .secondary .text .text-body {
  font-size: 16px;
  text-align: left;
  line-height: 1.5em;
  margin-top: 10px;
}

#profile {
  background-color: #2b90d9;
  line-height: 1.5em;
}

#profile .container {
  width: 1024px;
  margin: 0 auto;
}

#profile .container .main {
  margin-bottom: 30px;
}

#profile .container .main .text {
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

#profile .container .main .text::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

#profile .container .main .comment {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

#profile .container .secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 90px;
  margin-top: 30px;
}

#profile .container .secondary .picture {
  width: 512px;
  text-align: center;
}

#profile .container .secondary .picture img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#profile .container .secondary .introduction {
  width: 512px;
}

#profile .container .secondary .introduction .myname {
  font-size: 20px;
  margin-bottom: 5px;
}

#profile .container .secondary .introduction .comment {
  font-size: 16px;
}

#profile .container .secondary .introduction .myskills {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#contact {
  line-height: 1.5em;
}

#contact .container {
  width: 800px;
  margin: 0 auto;
}

#contact .container .main {
  margin-bottom: 30px;
}

#contact .container .main .text {
  font-size: 32px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
}

#contact .container .text::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

#contact .container .secondary {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact .container .secondary .comment {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

#contact .container .tertiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 90px;
}

#contact .container .tertiary .contact {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .container .tertiary .contact .primary {
  margin: 0 auto;
}

#contact .container .tertiary .contact .primary .mail {
  font-size: 20px;
  padding-bottom: 5px;
}

#contact .container .tertiary .contact .primary .addr {
  margin-bottom: 20px;
  color: black;
}

#contact .container .tertiary .contact .primary .tel {
  font-size: 20px;
  padding-bottom: 5px;
}

#contact .container .tertiary .contact .primary .num {
  padding-bottom: 20px;
  color: black;
}

#contact .container .tertiary .site {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .container .tertiary .site .primary {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

#contact .container .tertiary .site .primary .sns {
  font-size: 20px;
  margin-bottom: 5px;
}

#contact .container .tertiary .site .primary i {
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.footer .copyright {
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
/*# sourceMappingURL=portfolio.css.map */