//リセットCSSの記述
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


// scssの記述
.header {
  width: 100%;
  height: 70px;
  background-color:#282c37;
  .container {
  width: 1024px;
  height: auto;
  display: flex;
  justify-content:space-between; //flexboxで横並びに指定した後に、どういった配置にするか決めるやつ
  margin:0 auto;
  a {
    img{
      height:70px
    }
  }
  ul {
    display: flex;
    li {
      width: 120px;
      text-align: center;
      line-height: 70px;
      a {
      font-size: 16px;
      color:#d9e1e8;
      text-decoration: none;
      }
    }
  }
}
}

#main-visual {
width: 100%;
height: 650px;
text-align: center;
color: white;
background-image: url("img/lord.png");
background-size:cover;
background-position:center;
position: relative;
.main-visual-title {
    padding-top: 200px;
    font-size: 64px;
}
.main-visual-body {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.5em;
}
}

#portfolio {
.container {
  width: 920px;
  height: auto;
  margin:0 auto;
  padding-bottom: 80px;

  .main{
    margin-bottom: 30px;
    .portfolio-title {
      font-size: 32px;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 8px;
    }

    .portfolio-title::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      margin: 8px auto 0 auto;
      background-color: #EC715F;
    }

    .portfolio-body{
      font-size: 16px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 1.5em
    }
  }
  .secondary {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between; //flexboxで横並びに指定した後に、どういった配置にするか決めるやつ

    img {
    width: 300px;
    margin-bottom: 10px;
    }
  }
}
}

#feature {
background-color: #9baec8;
.container {
  width: 980px;
  height: auto;
  margin:0 auto;
  padding-bottom: 80px;

  .main{
    margin-bottom: 30px;
    .future-title {
      font-size: 32px;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 8px;
    }

    .future-title::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      margin: 8px auto 0 auto;
      background-color: #EC715F;
    }

    .future-body{
      font-size: 16px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 1.5em
    }
  }

  .secondary {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between; //flexboxで横並びに指定した後に、どういった配置にするか決めるやつ
    width: 980px;
    height:auto;
    .text{
      width: 320px;
      height: auto;
      margin-top: 30px;
      i {
        font-size:60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
      }
      .text-title{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto;
      }
      .text-body{
        font-size: 16px;
        text-align: left;
        line-height: 1.5em;
        margin-top: 10px;
      }
    }
  }
}
}

#profile {
background-color: #2b90d9;
line-height: 1.5em;
.container {
  width: 1024px;
  margin: 0 auto;
  .main{
    margin-bottom: 30px;
    .text {
      font-size: 32px;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 8px;
    }

    .text::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      margin: 8px auto 0 auto;
      background-color: #EC715F;
    }

    .comment {
      font-size: 16px;
      margin-top: 30px;
      text-align: center;
    }
  }
  .secondary {
    display: flex;
    justify-content:space-around;
    padding-bottom: 90px;
    margin-top: 30px;
    .picture {
      width: 512px;
      text-align: center;
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
    }
    .introduction {
      width: 512px;
      text-align: center;
      .myname {
        font-size: 20px;
        margin-bottom: 5px;
      }
      .comment {
        font-size: 16px;
      }
      .myskills {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }
  }
}
}

#contact {
line-height: 1.5em;
.container {
  width: 800px;
  margin: 0 auto;
  .main{
    margin-bottom: 30px;
    .text {
      font-size: 32px;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 8px;
    }
  }
  .text::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
  }
  .secondary {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    .comment {
      font-size: 16px;
      margin-top: 30px;
      text-align: center;
    }
  }
  .tertiary {
    display:flex;
    justify-content:space-around;
    margin-bottom: 90px;
    .contact {
      width: 400px;
      display:flex;
      justify-content:space-around;
      .primary {
        margin: 0 auto;
        .mail {
          font-size: 20px;
          padding-bottom: 5px;
        }
        .addr {
          margin-bottom: 20px;
          color: black;
        }
        .tel {
          font-size: 20px;
          padding-bottom: 5px;
        }
        .num {
          padding-bottom: 20px;
          color: black;
          }
      }
    }
    .site {
      width: 400px;
      display:flex;
      justify-content:space-around;
      .primary {
        justify-content:space-around;
        margin: 0 auto;
        .sns {
          font-size: 20px;
          margin-bottom: 5px;
        }
        i {
          font-size:50px;
          align-items: center;
          
        }
      }
    }
  }
}
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
.copyright {
  color:white;
  margin:0 auto;
  text-align: center;
  line-height: 70px;
}
}

//メディアクエリの記述
@media screen and (max-width: 768px) {
  body {
    .header {
      height: 50px;
      .container {
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
        .logo {
          height: 50px;
        }
        nav {
          display: none;
        }
      }
    }

    #main-visual {
      background-image: url(img/code.png);
      .container {
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
      }
    }

    #portfolio {
      .container {
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
        .secondary {
          display: block;
          img {
            width: 60%;
            height: 60%;
            margin: 10px 10px 0 0;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }

    #feature {
      .container {
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
        .secondary {
          width:90%;
          margin-right: 5%;
          margin-left: 5%;

          .text {
            margin: 0 auto;
            
            .text-body {
              margin: 15px 15px;

            }
          }
        }
      }
    }
    #profile {
      .container {
        width:90%;
        .secondary {
          margin: 0 auto;
          text-align: center;
          width:90%;
          .inner {
            width: 90%;
            .picture {
              margin: 0 auto;
              width:90%;
            }
            .introduction {
              text-align: center;
              width:90%;
              margin: 0 auto;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
    #contact {
      .container {
        width:90%;
        .tertiary{
          display: block;
          text-align: center;
          width:100%;
          margin: 0 auto;
          .inner {
            margin: 0 auto;
            width: 100%;
            .contact {
              width: 100%;
              .primary {
              padding:30px 30px;
              width: 100%;
                .mail, .addr, .tel, .num {
                  margin:20px 20px;
                }
              }
            }
            .site {
              width: 100%;
              .primary {
                margin-bottom:30px;
                .sns{
                  margin:20px 20px;
                }
                .icon {
                  width: 90%;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .header {
      .container {
        nav {
          ul {
            text-align: right;
            li {
              display: inline;
            }
          }
        }
        #nav-drawer {
          display: none;
        }
      }
    }
  }
}

// ハンバーガーメニュー
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 100px;
  height: 100%;
  background: #282c37;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  text-decoration:none;
  font-size: 20px;
  line-height:3em;
  color:white;
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}